<h2>Patient Details</h2>

<hr/>
<div *ngIf="patient">
  <div>
    <label><b>Name: </b></label> {{patient.name}}
  </div>
  <div>
    <label><b>BirthDate: </b></label> {{patient.birthDate | date:'dd/MM/yyyy'}}
  </div>
  <div>
    <label><b>Address: </b></label> {{patient.address}}
  </div>
  <div>
    <label><b>Gender: </b></label> {{patient.gender}}
  </div>
  <div>
    <label><b>Username: </b></label> {{patient.username}}
  </div>
  <div>
    <label><b>Medical Record: </b></label> {{patient.medicalRecord}}
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Medication List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Intake Intervals</th>
        <th>Taken</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let med of medicationPlans">
        <td>{{med.nameMed}}</td>
        <td>{{med.startTime | date:'dd/MM/yyyy hh:mm:ss'}}</td>
        <td>{{med.endTime | date:'dd/MM/yyyy hh:mm:ss'}}</td>
        <td>{{med.intakeIntervals}}</td>
        <td>{{med.taken}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Activities List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Normal</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let activity of activities">
        <td>{{activity.name}}</td>
        <td>{{activity.startTime | date:'dd/MM/yyyy hh:mm:ss'}}</td>
        <td>{{activity.endTime | date:'dd/MM/yyyy hh:mm:ss'}}</td>
        <td><input type="checkbox" [(ngModel)]="activity.behavior" (change)="setNormal(activity.id,activity.behavior)">
        </td>
        <td *ngIf="!activity.behavior"> <input  type="text" [(ngModel)]="activity.recomandare"/>
          <button class="btn btn-primary" (click)="addRecomandation(activity.id,activity.recomandare)">Adauga Recomandare</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Patient List</button><br>
