<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Medication List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Dossage</th>
        <th>Side Effects</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let medicatio of medication | async">
        <td>{{medicatio.name}}</td>
        <td>{{medicatio.dossage}}</td>
        <td>{{medicatio.sideEffects}}</td>
        <td><button (click)="deleteMedication(medicatio.id)" class="btn btn-danger">Delete</button>
          <button (click)="updateMedication(medicatio.id, medicatio)" class="btn btn-info" style="margin-left: 10px">Update</button>
          <button (click)="medicationDetails(medicatio.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button (click)="back()" class="btn btn-primary">Back to Doctor Home</button><br>
  </div>
</div>
