<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="medication" class="nav-link" routerLinkActive="active">Medication List</a>
    </li>
    <li class="nav-item">
      <a routerLink="addMedication" class="nav-link" routerLinkActive="active">Add Medication</a>
    </li>
    <li class="nav-item">
      <a routerLink="caregiver" class="nav-link" routerLinkActive="active">Caregiver List</a>
    </li>
    <li class="nav-item">
      <a routerLink="addCaregiver" class="nav-link" routerLinkActive="active">Add Caregiver</a>
    </li>
    <li class="nav-item">
      <a routerLink="patient" class="nav-link" routerLinkActive="active">Patient List</a>
    </li>
    <li class="nav-item">
      <a routerLink="addPatient" class="nav-link" routerLinkActive="active">Add Patient</a>
    </li>
    <li class="nav-item">
      <button (click)="logout()" class="btn btn-primary">Logout</button>
      <br>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2>Welcome Doctor {{name}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>


  <footer class="footer">
    <div class="container">
      <span>All Rights Reserved 2019 @Moldovan</span>
    </div>
  </footer>
</div>
